@charset "utf-8";

h1 {
    font-size: 20px;
    text-align: center;
}

.botaoinicio {
    background-color: green;
    border-radius: 5px;
}

.botaoparar {
    background-color: red;
    border-radius: 5px;
}

